In [1]:
import numpy as np
import pandas as pd

## Creating Dataframe from 2D list

In [2]:
student_list = [[100,8.5,45000],
                [110,9.0,60000],
                [120,7.0,35000]
               ]

pd.DataFrame(student_list,columns=['iq','cgpa','monthly_sal'])

    iq  cgpa  monthly_sal
0  100   8.5        45000
1  110   9.0        60000
2  120   7.0        35000

## Creating dataframe from dictionary

In [3]:
student_dict = {'iq':[100,110,120],
               'cgpa':[8.5,9,7],
               'monthly_sal': [45000,60000,35000]}

pd.DataFrame(student_dict)

    iq  cgpa  monthly_sal
0  100   8.5        45000
1  110   9.0        60000
2  120   7.0        35000

## reading csv or excel

In [4]:
movies = pd.read_csv('movies.csv')
ipl = pd.read_csv('ipl-matches.csv')

In [5]:
movies.head(3)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)

In [6]:
ipl.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

## shape

In [7]:
movies.shape

(1629, 18)

In [8]:
ipl.shape

(950, 20)

## dtype

In [9]:
ipl.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

## index

In [10]:
ipl.index

RangeIndex(start=0, stop=950, step=1)

## columns

In [11]:
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [12]:
ipl.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

## values --> 2d list, inner list corresponding to each row

In [13]:
ipl.values

array([[1312200, 'Ahmedabad', '2022-05-29', ...,
        "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312199, 'Ahmedabad', '2022-05-27', ...,
        "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312198, 'Kolkata', '2022-05-25', ...,
        "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']",
        'J Madanagopal', 'MA Gough'],
       ...,
       [335984, 'Delhi', '2008-04-19', ...,
        "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']",
        'Aleem Dar', 'GA Pratapkumar'],
       [335983, 'Chandigarh', '2008-04-19', ...,
        "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']",
        'MR Benson', 'SL Shastri'],
       [335982, 'Bangalore', '2008-04-18', ...,
        "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']",
        'Asad Rauf', 'RE Koertzen']], dtype=object)

## head/ tail/ sample

In [14]:
movies.sample(3)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
335,Motu Patlu: King of Kings,tt6278732,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Motu_Patlu:_King...,Motu Patlu: King of Kings,Motu Patlu: King of Kings,0,2016,110,Adventure|Comedy,7.5,94,Motu and Patlu are best friends. When trouble ...,Motu and Patlu are best friends. When trouble ...,NaN,Saurav Chakraborty|,NaN,14 October 2016 (India)
891,Allah Ke Banday,tt1292642,https://upload.wikimedia.org/wikipedia/en/b/bf...,https://en.wikipedia.org/wiki/Allah_Ke_Banday,People of Allah,Allah Ke Banday,0,2010,123,Action|Crime|Drama,6.2,281,Orphaned Yakub Ansari is befriended by Vijay K...,Two impoverished youth take to crime are held...,Children At War,Varun Bhagwat|Vikram Gokhale|Zakir Hussain|Bha...,1 nomination,26 November 2010 (India)
764,Love U...Mr. Kalakaar!,tt1695793,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Love_U...Mr._Kal...,Love U... Mr. Kalakaar!,Love U... Mr. Kalakaar!,0,2011,152,Drama|Romance,5.4,403,He is Sahil..a cartoonist..an artist who deriv...,The only daughter of a wealthy businessman fal...,NaN,Tusshar Kapoor|Amrita Rao|Ram Kapoor|Madhoo|Ki...,NaN,13 May 2011 (India)

## info

In [15]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

## describe

In [16]:
movies.describe().T

,count,mean,std,min,25%,50%,75%,max
is_adult,1629.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
year_of_release,1629.0,2010.263966,5.381542,2001.0,2005.0,2011.0,2015.0,2019.0
imdb_rating,1629.0,5.557459,1.567609,0.0,4.4,5.6,6.8,9.4
imdb_votes,1629.0,5384.263352,14552.103231,0.0,233.0,1000.0,4287.0,310481.0

## Null values

In [17]:
movies.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [18]:
# Percent of null values
movies.isnull().mean()*100

title_x              0.000000
imdb_id              0.000000
poster_path          6.322897
wiki_link            0.000000
title_y              0.000000
original_title       0.000000
is_adult             0.000000
year_of_release      0.000000
runtime              0.000000
genres               0.000000
imdb_rating          0.000000
imdb_votes           0.000000
story                1.227747
summary              0.000000
tagline             65.807244
actors               0.306937
wins_nominations    56.599141
release_date         6.568447
dtype: float64

## duplicated --> returns True/ False if row is entirely duplicated

In [19]:
ipl.duplicated().sum()

0

## renaming columns

In [20]:
students = pd.DataFrame(student_dict)

In [21]:
students

    iq  cgpa  monthly_sal
0  100   8.5        45000
1  110   9.0        60000
2  120   7.0        35000

In [22]:
students.rename(columns={'iq':'intelligence',
                'cgpa':'grade'},inplace=True)

In [23]:
students

   intelligence  grade  monthly_sal
0           100    8.5        45000
1           110    9.0        60000
2           120    7.0        35000

## Statistical functions --> sum/ mean/ median/ std/ var

In [24]:
students.mean(axis = 1)

0    15036.166667
1    20039.666667
2    11709.000000
dtype: float64

In [25]:
students.mean(axis = 0)

intelligence      110.000000
grade               8.166667
monthly_sal     46666.666667
dtype: float64

## Slicing columns from Dataframe

In [26]:
movies['title_x']

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1624                   Tera Mera Saath Rahen
1625                    Yeh Zindagi Ka Safar
1626                         Sabse Bada Sukh
1627                                   Daaka
1628                                Humsafar
Name: title_x, Length: 1629, dtype: object

In [27]:
# multiple columns
ipl[['Team1','Team2','WinningTeam']]

,Team1,Team2,WinningTeam
0,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals
2,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore
3,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,Sunrisers Hyderabad,Punjab Kings,Punjab Kings
...,...,...,...
945,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders
946,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore
947,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils
948,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
949,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

## Slicing rows using iloc and loc

In [28]:
ipl.iloc[:10:2]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
6,1304114,Mumbai,2022-05-20,2022,68,Chennai Super Kings,Rajasthan Royals,"Brabourne Stadium, Mumbai",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Ashwin,"['RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagad...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,NA Patwardhan
8,1304112,Navi Mumbai,2022-05-18,2022,66,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",Lucknow Super Giants,bat,N,Lucknow Super Giants,Runs,2.0,NaN,Q de Kock,"['Q de Kock', 'KL Rahul', 'E Lewis', 'DJ Hooda...","['VR Iyer', 'A Tomar', 'N Rana', 'SS Iyer', 'S...",R Pandit,YC Barde

In [29]:
ipl.iloc[2]

ID                                                           1312198
City                                                         Kolkata
Date                                                      2022-05-25
Season                                                          2022
MatchNumber                                               Eliminator
Team1                                    Royal Challengers Bangalore
Team2                                           Lucknow Super Giants
Venue                                          Eden Gardens, Kolkata
TossWinner                                      Lucknow Super Giants
TossDecision                                                   field
SuperOver                                                          N
WinningTeam                              Royal Challengers Bangalore
WonBy                                                           Runs
Margin                                                          14.0
method                                                           NaN
Player_of_Match                                           RM Patidar
Team1Players       ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
Team2Players       ['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...
Umpire1                                                J Madanagopal
Umpire2                                                     MA Gough
Name: 2, dtype: object

In [30]:
students['name'] = ['John','Dave','Maya']

In [31]:
students.set_index('name',inplace=True)

In [32]:
students

      intelligence  grade  monthly_sal
name
John           100    8.5        45000
Dave           110    9.0        60000
Maya           120    7.0        35000

In [33]:
students.loc['Dave']

intelligence      110.0
grade               9.0
monthly_sal     60000.0
Name: Dave, dtype: float64

In [34]:
students.loc['John':'Maya':2]

      intelligence  grade  monthly_sal
name
John           100    8.5        45000
Maya           120    7.0        35000

## Slicing both rows and columns

In [35]:
movies.iloc[:3,2:5]

,poster_path,wiki_link,title_y
0,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike
1,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609
2,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister

In [36]:
movies.loc[:3,'poster_path':'title_y']

,poster_path,wiki_link,title_y
0,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike
1,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609
2,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister
3,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India

## Filtering a Dataframe

### Find all final IPL winners

In [37]:
ipl.head(3)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough

In [38]:
ipl_finals = ipl[ipl['MatchNumber']=='Final']

In [41]:
ipl_finals[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

### How many superovers have happened

In [43]:
ipl_temp = ipl[ipl['SuperOver']=='Y']
ipl_temp.shape[0]

14

### How many times CSK have won in Kolkata

In [44]:
mask1 = ipl['City']=='Kolkata'
mask2 = ipl['WinningTeam']=='Chennai Super Kings'

ipl_temp = ipl[mask1 & mask2]
ipl_temp.shape[0]

5

### percent of toss winners is matchwinners

In [46]:
mask1 = ipl['TossWinner']==ipl['WinningTeam']
ipl[mask1].shape[0]*100/ipl.shape[0]

51.473684210526315

### movies with rating greater than 8 and votes >10000

In [47]:
movies.head(2)

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)

In [55]:
mask1 = movies['imdb_rating']>8.0
mask2 = movies['imdb_votes']>10000
movies_temp = movies[mask1 & mask2]

In [56]:
movies_temp.shape[0]

43

### Action movies with ratings higher than 7.5

In [58]:
movies['is_action'] = movies['genres'].apply(lambda x: 'action' in x.lower())

In [62]:
movies_temp = movies[(movies['is_action']==True) & (movies['imdb_rating']>7.5)]
movies_temp.shape[0]

33

### write a function that returns the track records between two teams