In [1]:
import numpy as np
import pandas as pd

## Creating a series of Marks with custom index and name from lists

In [2]:
marks = [40,50,60]
subjects = ['english','maths','physics']

m = pd.Series(data = marks,index= subjects,name = 'My Marks',dtype = 'int32')
print(m)

english    40
maths      50
physics    60
Name: My Marks, dtype: int32

## Creating Series from Dictionary

In [3]:
marks_dict = dict(zip(subjects,marks))
print(marks_dict)

{'english': 40, 'maths': 50, 'physics': 60}

In [9]:
n = pd.Series(marks_dict,dtype = 'float16')
print(n)

english    40.0
maths      50.0
physics    60.0
dtype: float16

## Can Series hold heterogenous data types?

In [12]:
t1 = pd.Series(['foo',34,True,99.99])

In [16]:
print(t1)

0      foo
1       34
2     True
3    99.99
dtype: object

## Series Attributes

In [18]:
#nos of items in the Series
m.size

3

In [19]:
# dtype of Series
m.dtype

dtype('int32')

In [20]:
# check if all items in series are uniquue
m.is_unique

True

In [21]:
#get index from series
m.index

Index(['english', 'maths', 'physics'], dtype='object')

In [22]:
# get values from series
m.values

array([40, 50, 60])