## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [3]:
# average age
titanic_df.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [6]:
titanic_df[titanic_df['Age'].isnull()].groupby('Pclass')['PassengerId'].count()

Pclass
1     30
2     11
3    136
Name: PassengerId, dtype: int64

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [23]:
titanic_df['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [14]:
import scipy.stats as ss

In [18]:
mode_dict = {}
for p in titanic_df['Pclass'].unique():
    mode_dict[p] = titanic_df[titanic_df['Pclass']==p]['Embarked'].mode()[0]
    
mode_dict

{3: 'S', 1: 'S', 2: 'S'}

In [19]:
titanic_df['Embarked'].fillna('Missing',inplace = True)

In [22]:
titanic_df['Embarked'] = titanic_df.apply(lambda x: mode_dict[x['Pclass']] if x['Embarked']=='Missing' else x["Embarked"],axis = 1)

In [ ]:
titanic_df['Embarked'].value_counts()

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [27]:
embarked_group = titanic_df.groupby(['Embarked','Pclass'])['Fare'].mean()

In [30]:
embarked_group

Embarked  Pclass
C         1         104.718529
          2          25.358335
          3          11.214083
Q         1          90.000000
          2          12.350000
          3          11.183393
S         1          70.514244
          2          20.327439
          3          14.644083
Name: Fare, dtype: float64

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [31]:
fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [35]:
cols_to_perform = ['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']

def z_normalization(group,cols):
    for col in cols:
        mu = group[col].mean()
        std = group[col].std()
        
        group[f"{col}_z_norm"] = (group[col] - mu)/std
     
    return group

groups = fifa_df.groupby('Team')
groups = groups.apply(z_normalization,cols_to_perform)

C:\Users\abhid\AppData\Local\Temp\ipykernel_17944\1602146711.py:13: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  groups = groups.apply(z_normalization,cols_to_perform)

In [36]:
groups

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Passes_z_norm,Passes Completed_z_norm,Attempted Line Breaks_z_norm,Completed Line Breaks_z_norm
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,10,5,1,19,0,0,0.462725,0.410365,-0.815368,-1.153113
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,26,10,3,17,1,3,1.085876,1.123095,-0.039193,0.817624
2,3,2,England,Iran,B,6,69,6,0,6,...,29,9,8,16,0,3,1.705844,1.718012,-1.172641,-1.334904
3,4,2,Iran,England,B,2,20,2,0,1,...,11,3,0,10,1,0,-0.820695,-0.761575,-1.152297,-1.147648
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,22,8,6,14,0,0,-0.020934,0.032483,-1.077420,-0.355371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,...,22,1,3,15,0,0,1.662218,1.680153,-0.496715,0.899236
124,125,63,Croatia,Morocco,F,2,45,2,0,2,...,21,3,6,13,0,3,-1.152198,-1.103970,-0.555702,-0.464907
125,126,63,Morocco,Croatia,F,1,45,1,0,0,...,20,5,3,15,0,0,0.896270,0.909216,0.349043,1.079083
126,127,64,Argentina,France,C,3,46,3,0,1,...,20,4,6,22,5,3,0.178979,-0.028264,1.757406,1.808140
127,128,64,France,Argentina,D,3,40,3,0,1,...,24,3,5,28,4,0,-0.046643,-0.280190,1.147789,0.169997

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [37]:
ipl_balls = pd.read_csv('ipl_deliveries.csv')
ipl_balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   Team               225954 non-null  object
 2   innings            225954 non-null  int64
 3   overs              225954 non-null  int64
 4   ballnumber         225954 non-null  int64
 5   batter             225954 non-null  object
 6   bowler             225954 non-null  object
 7   non-striker        225954 non-null  object
 8   extra_type         12049 non-null   object
 9   batsman_run        225954 non-null  int64
 10  extras_run         225954 non-null  int64
 11  total_run          225954 non-null  int64
 12  non_boundary       225954 non-null  int64
 13  isWicketDelivery   225954 non-null  int64
 14  player_out         11151 non-null   object
 15  kind               11151 non-null   object
 16  fielders_involved  7988 non-null    object
 17  BattingTeam        225954 non-null  object
 18  BowlingTeam        225954 non-null  object
dtypes: int64(9), object(10)
memory usage: 32.8+ MB

In [38]:
ipl_balls.head(2)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [88]:
ipl_second = ipl_balls[ipl_balls['innings']==2]
ipl_second.groupby(['ID','batter'])['batsman_run'].sum().sort_values(ascending = False)

ID       batter
501206   PC Valthaty          120
501243   V Sehwag             119
1254061  SV Samson            119
1136620  SR Watson            117
336018   ST Jayasuriya        114
                             ...
598066   KD Karthik             0
598067   M Morkel               0
598068   SK Raina               0
1178429  Washington Sundar      0
1082646  MN Samuels             0
Name: batsman_run, Length: 6972, dtype: int64

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [41]:
ipl_balls['kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [57]:
ipl_balls['isbatterout'] = ipl_balls['kind'].isin(['caught', 'caught and bowled',  'bowled', 'stumped','lbw'])
ipl_balls.groupby(['bowler','batter']).agg({'isbatterout':'sum',
                                           'batsman_run':'sum'}).sort_values(
                                            by = ['isbatterout','batsman_run'],ascending = [False,True]).head(1)

                 isbatterout  batsman_run
bowler batter
Z Khan MS Dhoni            7           74

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [71]:
ipl_balls[['batter','non-striker']].values

array([['YBK Jaiswal', 'JC Buttler'],
       ['YBK Jaiswal', 'JC Buttler'],
       ['JC Buttler', 'YBK Jaiswal'],
       ...,
       ['P Kumar', 'SB Joshi'],
       ['SB Joshi', 'P Kumar'],
       ['SB Joshi', 'P Kumar']], dtype=object)

In [72]:
def pair(x):
    return '-'.join(list(np.sort(x.values)))
ipl_balls['partnership'] = ipl_balls[['batter','non-striker']].apply(pair,axis = 1)
ipl_balls.head(5)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,...,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam,isbatterout,partnership
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False,JC Buttler-YBK Jaiswal
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,...,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False,JC Buttler-YBK Jaiswal
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,...,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False,JC Buttler-YBK Jaiswal
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False,JC Buttler-YBK Jaiswal
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,...,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans,False,JC Buttler-YBK Jaiswal

In [75]:
ipl_balls.groupby('partnership')['total_run'].sum().sort_values(ascending = False).head(3)

partnership
AB de Villiers-V Kohli    3134
CH Gayle-V Kohli          2802
DA Warner-S Dhawan        2357
Name: total_run, dtype: int64

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [78]:
partnerships = ipl_balls.groupby('partnership').agg({'total_run':'sum',
                                    'isWicketDelivery':'sum',
                                    'ID':'count'}).reset_index()

In [82]:
partnerships['Avg'] = np.round(partnerships['total_run']/partnerships['isWicketDelivery'],2)
partnerships['StrikeRate'] = np.round(100*partnerships['total_run']/partnerships['ID'],2)
partnerships.sort_values(['total_run','StrikeRate'],ascending = [False,False],inplace=True)

In [83]:
partnerships

,partnership,total_run,isWicketDelivery,ID,Avg,StrikeRate
302,AB de Villiers-V Kohli,3134,71,2059,44.14,152.21
1251,CH Gayle-V Kohli,2802,53,1973,52.87,142.02
1508,DA Warner-S Dhawan,2357,49,1725,48.10,136.64
1954,G Gambhir-RV Uthappa,1906,48,1425,39.71,133.75
2803,KL Rahul-MA Agarwal,1731,33,1211,52.45,142.94
...,...,...,...,...,...,...
4202,Shivam Mavi-TK Curran,0,1,1,0.00,0.00
4203,Shoaib Ahmed-TL Suman,0,1,1,0.00,0.00
4204,Shoaib Ahmed-WPUJC Vaas,0,1,1,0.00,0.00
4205,Shoaib Ahmed-Y Venugopal Rao,0,1,3,0.00,0.00
4215,T Stubbs-Tilak Varma,0,1,2,0.00,0.00